.env
backend/venv/Lib/site-packages/torch/lib/dnnl.lib
backend/venv/Lib/site-packages/torch/lib/torch_cpu.dll
venv/

__pycache__/
*.pyc
*.pyo
controllers/__pycache__/

extracted_files/
uploaded_backups/

Manifest.db
Manifest.db-shm
Manifest.db-wal

sms.db

temp.plist