fastapi
uvicorn[standard] # includes watchgod and python-dotenv
torch
torchvision
torchaudio
numpy
cython
## detectron2
pillow
python-multipart
python-dotenv
requests
openai
re
bcrypt
jwt
# sqlite3

# installation for embeddings
transformers
sentence-transformers
pinecone
psycopg2
passlib
fpdf